[submodule "GUILib/ext/nanogui"]
	path = GUILib/ext/nanogui
	url = https://gitlab.inf.ethz.ch/moritzge/nanogui
[submodule "thirdparty/eigen3.3.4"]
	path = thirdparty/eigen3.3.4
	url = https://github.com/RLovelett/eigen/
